
extends layout

block content

  section#banner
    div.content
      a(href="/")
        img(src="/images/logo.png")
      h1 Witamy w Klockolandii!
      p Zapraszamy do aktywnej i twórczej zabawy dzieci od 6 roku życia. Popołudniowe zajęcia w ok. 10-osobowych grupach. Zajęcia raz w tygodniu po 2 godziny (120 minut). Możliwość wyboru grupy w zależności od dnia tygodnia - od poniedziałku do czwartku.
      ul.actions
        li
          a.button.scrolly(href="#news") Co nowego
        li
          a.button.scrolly(href="#prices") Cennik
        li
          a.button.scrolly(href="#contact") Kontakt 
        li
          a.button.scrolly(href="#documents") Dokumenty

  section#news.wrapper
    div.inner.flex.flex-3
      each article in articles
        if article.template === 'article.jade'
          div.flex-item.box
            div.image.fit
              a(href=article.url)
                img(src=article.url + "image.png")
            div.content
              h3
                a(href=article.url)= article.title
              if article.intro.length > 0
                != typogr(article.intro).typogrify()
              if article.hasMore
                a(href=article.url) Czytaj więcej
    
    div.inner.flex.flex-3
      nav.logo.left
        if prevPage
          a.button.alt(href=prevPage.url + "#news") &laquo; Nowsze
        else
          a.button.alt(href='/archive.html') &laquo; Wszystkie aktualności
      nav.right
        if nextPage
          a.button.alt(href=nextPage.url + "#news") Starsze &raquo;

  section#prices.wrapper.style1
    div.inner
      !=contents['prices.md'].html

  section#contact.wrapper
    div.inner
      !=contents['contact.md'].html

  section#documents.wrapper
    div.inner
      !=contents['documents.md'].html
